# ------------------------ #
# --- Python Artifacts --- #
# ------------------------ #

__pycache__/
*.py[cod]
*$py.class
*.so


# ----------------- #
# --- IDE Files --- #
# ----------------- #

.idea/
.windsurfrules


# ---------------------------- #
# --- Virtual Environments --- #
# ---------------------------- #

.env
.venv/
venv/
ENV/


# ---------------------------- #
# --- Dependency Managers  --- #
# ---------------------------- #

.poetry/
poetry.lock
Pipfile
Pipfile.lock
requirements.txt
uv.lock


# ------------------------- #
# --- Jupyter Notebooks --- #
# ------------------------- #

.ipynb_checkpoints/


# ------------------------------- #
# --- MLflow & Data Artifacts --- #
# ------------------------------- #

mlruns/
mlflow/
db_data/
minio_data/


# ---------------------------- #
# --- Build & Distribution --- #
# ---------------------------- #

build/
dist/
*.egg-info/
.eggs/
parts/
var/
*.egg
wheels/
pip-wheel-metadata/
share/python-wheels/


# -------------------- #
# --- System Files --- #
# -------------------- #

.DS_Store
Thumbs.db


# --------------------- #
# --- Logs & Output --- #
# --------------------- #

*.log
*.out
*.tmp


# --------------------- #
# --- Miscellaneous --- #
# --------------------- #

*.sqlite3
# Ignore files and folders starting with "ignore_"
*ignore_*
